<!-- needtoremove -->

<app-sidenav></app-sidenav>
<div class="container">
    <div>
        <a class="bread-crumb" [routerLink]="['/shipments']">Shipments</a> >
        <a class="bread-crumb"  (click)='Onclick()'>Shipment Items</a>
        > Packed Box Summary
      </div>
      <br>    
  <h1>
    <span class="title">
      <b>Packed Box Summary</b>
    </span>
  </h1>
  <br>
  <div class="ticket-container mat-elevation-z8 col-xs-12">
    <mat-table [dataSource]="dataSource" matSort matSortActive="BoxCode" matSortDirection="desc" matSortDisableClear>
      <!-- <ng-container matColumnDef="PackedBoxID">
        <mat-header-cell *matHeaderCellDef mat-sort-header> PackedBox ID </mat-header-cell>
        <mat-cell style="color: blue;cursor: pointer" *matCellDef="let row"> {{row.PackedBoxID}} </mat-cell>
      </ng-container> -->
      <ng-container matColumnDef="BoxCode">
        <mat-header-cell *matHeaderCellDef mat-sort-header> BoxCode </mat-header-cell>
        <mat-cell *matCellDef="let row" style="color: blue; cursor: pointer;" matTooltip="TFWJS- ATHLETICS JACKET">
          {{row.BoxCode}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="BoxNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header> BoxNumber </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.BoxNumber}} </mat-cell>
      </ng-container>
      <!-- <ng-container matColumnDef="ShipmmentID">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ShipmmentID </mat-header-cell>
        <mat-cell *matCellDef="let row">
            {{row.ShipmentID}}
        </mat-cell>
      </ng-container> -->
      <ng-container matColumnDef="Quantity">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </mat-header-cell>
        <mat-cell *matCellDef="let row" [style.color]="green">
            {{row.PackedUnits}}
        </mat-cell>
      </ng-container>
      <!-- <ng-container matColumnDef="location">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </mat-header-cell>
        <mat-cell *matCellDef="let row" [style.color]="blue">
            {{row.location}}
        </mat-cell>
      </ng-container> -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row (click)="onRowSelected(row)" *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
    <mat-paginator #paginator [pageSize]="25" [pageSizeOptions]="[25, 50, 100]" [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
</div>