<div class="sidenav" id="bs-sidebar-navbar-collapse-1">
  <div class="avatar-center">
    <ngx-avatar src="assets/imgs/New-Balance-logo.png" [round]="true"></ngx-avatar>
    <div class="avatar-text">
      <span>John Doe</span>
      <i class="fa fa-caret-down" aria-hidden="true"></i>
      <br>
    </div>
    <div class="avatar-role">
      <span>Admin</span>
    </div>
  </div>
  <div class="menu">
    <div class="menulist menu-text"  (click)= "DashboardPageComponent()" >
      <span>Dashboard</span>
    </div>
    <div class="menulist menu-text"  (click)= "OrderComponentPage()" >
      <span>Orders</span>
    </div>
    <div class="menulist menu-text"  (click)= "PurchaseOrderComponentPage()" >
      <span>Purchase Orders</span>
    </div>
    <div class="menulist menu-text" (click)= "TicketComponentPage()">
      <span>Tickets</span>
    </div>
    <div class="menulist menu-text">
      <span>Invoices</span>
    </div>
    <div class="menulist menu-text">
      <span>Shipments</span>
    </div>
    <div class="menulist menu-text">
      <span>Inventory</span>
    </div>
    <div class="menulist menu-text">
      <span>Users</span>
    </div>
    <div class="menulist menu-text">
      <span>Performance</span>
    </div>
  </div>
</div>