<ion-header>
    <ion-navbar class="header">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <div class="logo-container">
            <span class="header-title">STAHLS</span>
            <!-- <ion-icon class="noti-icon" name="notifications"></ion-icon> -->
        </div>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item class="filter-header">
        Filter Tickets By:
    </ion-item>

    <ion-item class="item-header">
        Assigned To
    </ion-item>
    <ion-item>
        <ion-label>Assigned To</ion-label>
        <ion-select [(ngModel)]="Assigned" multiple="true">
            <ion-option *ngFor="let assigned of assignedto" [value]="assigned">
                {{assigned}}
            </ion-option>
        </ion-select>
    </ion-item>
    <ion-item class="item-header">
        Created By
    </ion-item>
    <ion-item>
        <ion-label>Created By</ion-label>
        <ion-select [(ngModel)]="Created" multiple="true">
            <ion-option *ngFor="let created of ticketcreated" [value]="created">
                {{created}}
            </ion-option>
        </ion-select>
    </ion-item>


    <!-- <ion-item class="item-header">
        Number of tickets
    </ion-item> -->
    <!-- <ion-item>
        <ion-label>1</ion-label>
        <ion-checkbox color="dark"></ion-checkbox>
    </ion-item>
    <ion-item>
        <ion-label>2</ion-label>
        <ion-checkbox color="dark"></ion-checkbox>
    </ion-item> -->
    <!-- <ion-item>
        <ion-range min="1" max="50" [(ngModel)]="ticketNumber" color="secondary">
            <ion-label range-left>1</ion-label>
            <ion-label range-right>50</ion-label>
        </ion-range>
    </ion-item> -->
    <ion-item class="item-header">
        Status
    </ion-item>
    <ion-item *ngFor="let st of status; let i=index;">
        <ion-label>{{st}}</ion-label>
        <ion-checkbox (click)="getValue(st)"></ion-checkbox>
    </ion-item>
    <ion-item class="item-header">Sort by</ion-item>
    <ion-list radio-group [(ngModel)]="selectedSortValue">
        <ion-item>
            <ion-label>Status</ion-label>
            <ion-radio value="status"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>Date</ion-label>
            <ion-radio value="date"></ion-radio>
        </ion-item>
    </ion-list>

    <button ion-button class="btn-filter" outline (click)="selectedoption()">Filter and Sort </button>
</ion-content>