<ion-header>
    <ion-navbar class="header" hideBackButton>
        <button ion-button menuToggle>
            <ion-icon class="menu-icon" name="menu"></ion-icon>
        </button>
        <div class="logo-container">
            <!-- <img height="40" class="nav-logo" src="assets/imgs/stahls.png"> -->
            <span class="header-title">STAHLS</span>
            <!-- <button ion-button> -->
            <!-- <ion-icon class="noti-icon" name="notifications"></ion-icon> -->
            <!-- </button>   -->
        </div>
    </ion-navbar>
</ion-header>
<ng4-loading-spinner>
</ng4-loading-spinner>


<ion-content class="page-con">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <span class="dash-title">Orders</span>
    <div class="searchbar-top">
        <ion-searchbar [(ngModel)]="searchTerm" type="search" (ionInput)="setFilteredItems()"></ion-searchbar>
        <a (click)="filterOrder()" style="cursor:pointer"> Filter/Sort by</a>
    </div>
    <ion-list class="lists">
        <ion-item *ngFor="let item of orderslist">
            <ion-card (click)="displayOrderDetails(item)">
                <ion-card-content class="dashCard">
                    <ion-card-title>
                        <h3>
                            <b>{{item.OrderNumber}}</b>
                        </h3>
                        <ion-badge item-end>{{item.StatusName}}</ion-badge>
                    </ion-card-title>
                    <ion-list>
                        <span>Location: {{item.CompanyCode}}</span>
                        <br/>
                        <span>PO: {{item.PONumber}}</span>
                        <br/>
                        <span>Date: {{item.OrderDate | date: 'MM/dd/yyyy'}}</span>
                        <br/>
                        <!-- <span *ngIf="item.Tickets === null" >Tickets: 0</span> -->
                        <span *ngIf="item.Tickets !== null">Tickets: {{item.Tickets}}</span>
                    </ion-list>
                    <!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)" distance="5%">
                        <ion-infinite-scroll-content loadingText="Loading more data...">
                        </ion-infinite-scroll-content>
                    </ion-infinite-scroll> -->
                </ion-card-content>
            </ion-card>
        </ion-item>
        <button ion-button *ngIf="orderslist !==undefined" class="btn-filter" ion-button (click)="doInfinite()">Next</button>
    </ion-list>



</ion-content>