<!-- <ion-menu class="stahls-menu" [content]="content"> -->
    <ion-header style="background: #030e2f;">
      <!-- <div style="display: inline-flex;">
        <ngx-avatar src="assets/imgs/New-Balance-logo.png" [round]="true"></ngx-avatar>
        <div class="header-s-text">
            <span>John Doe - </span><span class="s-user-role">Admin</span>
        </div>
      </div> -->
      <div style="display: -webkit-inline-box;">
        <img [src]="orgimage" style="max-width:60px;max-height: 60px; border-radius: 50px;" class="imgPlaceholder">
        <!-- <ngx-avatar [src]="orgimage" [round]="true">
        </ngx-avatar> -->
        <div class="avatar-text">
          <span>{{userDetails?.firstname}}</span>
          <!-- <i class="fa fa-caret-down" aria-hidden="true"></i> -->
          <br>
          <div></div>
        </div>
        </div>
        <div class="avatar-role">
          <span><b>{{userDetails?.Authorities[0]?.role}}</b></span>
          <!-- <span *ngIf="userDetails?.Authorities[0]?.role != 'ROLE_ADMIN'">User</span> -->
        </div>
      
    </ion-header>
  <br><br><br>
    <ion-content class="navBarContent">
        <button menuClose ion-item class="menulist" *ngFor="let p of pages" (click)="openPage(p)">
          {{p.title}}
        </button>
    </ion-content>
    
    <ion-footer>
      <div style="    text-align: -webkit-center !important;
      margin-top: 5%">
        <div class="logoutDiv" (click)="logout()"><u>logout</u></div>
        <br>
      <ngx-avatar *ngIf="userDetails?.organization?.organizationname !== 'Stahls'" src="assets/img/logo.png"  [round]="false">
      </ngx-avatar>
      <br/>
      </div>
    </ion-footer>
  
  <!-- </ion-menu> -->