<div class="auth-block">
    <div class="text-center">
        <img src="assets/img/logo.png" height="80" width="80">
    </div>
    <div>

        <form id="login-form" novalidate #f="ngForm">
            <div class="login-form">
                <div class="form-group">
                    <input style="margin-bottom:1em;" type="password" name="password" class="form-control" id="InputPassword1" 
                        [(ngModel)]="data.password" placeholder="Password" required #password="ngModel">
                    <div class="form-group">
                        <input type="password" name="confirmpassword" class="form-control" id="InputPassword2"
                         [(ngModel)]="data.confirmpassword" placeholder="Confirm Password"
                            required #confirmpassword="ngModel">
                    </div>
                    <div style="color:red; text-align:center;">
                        {{errorDiagnostic}}
                    </div>
                    <div class="text-center">
                        <button (click)="onSubmit()" [disabled]="data.password !== data.confirmpassword || data.password === '' || data.confirmpassword === ''" class="btn btn-default login-btn">Change
                            Password <i [hidden]="!spinnerlogo" class="fas fa-spin fa-spinner"></i> </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>