


/* .mat-snack-bar-container.mat-snack-bar-center{
    margin-top: -300%!important;
    margin-left: -122%!important;
  }
  
  .mat-snack-bar-container {
    border-radius: 5px!important;
    box-sizing: border-box;
    display: block;
    margin: 24px;
    min-width: 436%!important;
    padding: 14px 24px;
    transform: translateY(100%) translateY(24px);
    background: green!important;
  }

  .mat-simple-snackbar-action{
      color:white!important
  } */
  .form-control{
    width:21%;
    margin-top: 3%;
  }
  /* .example-location {
    text-decoration: none;
    width: 40%;
    margin-left: -3%;
    margin-right: 4%;
    border: 1px solid grey;
    border-radius: 5px;
  } */
  .orderTicketText {
    font-size: 20px;
    font-weight: bolder;
  }
  .booleanDetails {
    color: blue;
    cursor: pointer;
}
  
  /* .example-ticket {
    text-decoration: none;
    margin-right: 4%;    
    width: 40%;
    margin-left: -3%;
    border: 1px solid grey;
    border-radius: 5px;
  }
  .example-status {
    text-decoration: none;
    margin-right: 4%;    
    width: 40%;
    margin-left: -3%;
    border: 1px solid grey;
    border-radius: 5px;
  }


  .example-full-width{
    margin-bottom: -10%;
  } */
.searchbar{
    height: 10%;
    width: 100%;
    border-radius: 1px;
    /* border-color: black; */
    /* border-style: solid; */
    border-width: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 0%;
}

.badge{
  border-radius: unset;
  width: 70%;
}

.searchbox{
  margin-bottom: -4%;
  margin-left: 2%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 'regular';
  font-size: 18px;
  color:#ccc;
  /* display: none; */
  
}

.search {
  position: relative;
  color: black;
  font-size: 16px;
  margin-top: 4%; 
  
}

.search input {
  width: 250px;
  height: 32px;
  
  background: #fcfcfc;
  border: 1px solid black;
  border-radius: 16px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.search input { text-indent: 32px;}
.search .fa-search { 
  position: absolute;
  top: 10px;
  left: 10px;
}

.faStyle {
  color: rgb(127, 140, 141);
}

.txtcolor{
  color: rgb(127, 140, 141);
  font-weight: 100;
  border: none;
  margin-top: 2%;
  margin-left: 1%;
}
.pull-right {
  margin-left: 83%;
  margin-top: -4%;
}
.filterName {
  margin-right: 10px;
  margin-left: -140%;
}
.locationField {
  width: 5em;
  
}
.ticketField {
  width: 5em;
}
.statusField {
  width: 5em;
}
.blue {
  color:white;
  background: #0066cc
}
.green {
  color : white;
  background-color: #009900;
}
.orange {
  color:white;
  background-color: #ff9900
}
.dark {
  color:white;
  background-color: #003366
}
.brown {
  color:white;
  background-color: #666666;
}

.mat-paginator-page-size {
  margin-right: 67% !important;
}

.mat-table{
  overflow-y: hidden;
}


.text-center{
  margin-left: 87%;
}

