<app-sidenav></app-sidenav>
<div *ngIf="Forecast">
  <div class="alert alert-primary custom-alert" matTooltip="An order that represents work that may take place in the facility">
    <strong> {{ForecastOrders}} Forecast </strong>
    <span style="cursor: pointer;text-decoration:underline" class="alert-link" (click)="getSalesOrderByStatusName('Forecast')">Orders</span>
    <i class="fa fa-times-circle notify-icon    close" (click)="closeClick('Forecast')"></i>
  </div>
</div>
<div *ngIf="Quote">
  <div class="alert alert-info custom-alert" matTooltip="A quote to perform work">
    <strong> {{QuoteOrders}} Quote </strong>
    <span style="cursor: pointer;text-decoration:underline" class="alert-link" (click)="getSalesOrderByStatusName('Quote')">Orders</span>
    <i class="fa fa-times-circle notify-icon    close" (click)="closeClick('Quote')"></i>
  </div>
</div>
<div *ngIf="InComplete">
  <div class="alert alert-danger custom-alert " matTooltip="Order has been Imported and not ready for production">
    <strong> {{InCompleteOrders}} Incomplete </strong>
    <span style="cursor: pointer;text-decoration:underline" class="alert-link" (click)="getSalesOrderByStatusName('Incomplete')">Orders</span>
    <i class="fa fa-times-circle notify-icon    close" (click)="closeClick('Incomplete')"></i>
  </div>
</div>
<div *ngIf="Released">
  <div class="alert alert-info custom-alert" matTooltip="Order can be released for production or can be allocated from inventory">
    <strong> {{ReleasedOrders}} Released
    </strong>
    <span style="cursor: pointer;text-decoration:underline" class="alert-link" (click)="getSalesOrderByStatusName('Released')">Orders</span>
    <i class="fa fa-times-circle notify-icon    close" (click)="closeClick('Released')"></i>
  </div>
</div>
<div *ngIf="Available">
  <div class="alert alert-primary custom-alert" matTooltip="All units have been allocated to the order">
    <strong> {{AvailableOrders}} Available </strong>
    <span style="cursor: pointer;text-decoration:underline" class="alert-link" (click)="getSalesOrderByStatusName('Available')">Orders</span>
    <i class="fa fa-times-circle notify-icon    close" (click)="closeClick('Available')"></i>
  </div>
</div>
<div *ngIf="Processed">
  <div class="alert alert-warning custom-alert" matTooltip="All of the units have been allocated to a Manufacturing Order or Allocated from Inventory">
    <strong> {{ProcessedOrders}} Processed </strong>
    <span style="cursor: pointer;text-decoration:underline" class="alert-link" (click)="getSalesOrderByStatusName('Processed')">Orders</span>
    <i class="fa fa-times-circle notify-icon    close" (click)="closeClick('Processed')"></i>
  </div>
</div>
<div *ngIf="Hold">
  <div class="alert alert-info custom-alert" matTooltip="Order has been placed on hold, awaiting further information">
    <strong> {{HoldOrders}} Hold </strong>
    <span style="cursor: pointer;text-decoration:underline" class="alert-link" (click)="getSalesOrderByStatusName('Hold')">Orders</span>
    <i class="fa fa-times-circle notify-icon    close" (click)="closeClick('Hold')"></i>
  </div>
</div>
<div *ngIf="Committed">
  <div class="alert alert-info custom-alert" matTooltip="All units have been committed and are ready a shipment">
    <strong> {{CommittedOrders}} Committed </strong>
    <span style="cursor: pointer;text-decoration:underline" class="alert-link" (click)="getSalesOrderByStatusName('Committed')">Orders</span>
    <i class="fa fa-times-circle notify-icon    close" (click)="closeClick('Committed')"></i>
  </div>
</div>
<div *ngIf="Shipped">
  <div class="alert alert-success custom-alert" matTooltip="Order has been shipped">
    <strong> {{ShippedOrders}} Shipped </strong>
    <span style="cursor: pointer;text-decoration:underline" class="alert-link" (click)="getSalesOrderByStatusName('Shipped')">Orders</span>
    <i class="fa fa-times-circle notify-icon    close" (click)="closeClick('Shipped')"></i>
  </div>
</div>
<div *ngIf="Complete">
  <div class="alert alert-primary custom-alert" matTooltip="Order has been shipped and Invoiced">
    <strong> {{CompleteOrders}} Complete </strong>
    <span style="cursor: pointer;text-decoration:underline" class="alert-link" (click)="getSalesOrderByStatusName('Complete')">Orders</span>
    <i class="fa fa-times-circle notify-icon    close" (click)="closeClick('Complete')"></i>
  </div>
</div>
<div *ngIf="Void">
  <div class="alert alert-info custom-alert" matTooltip="Order has been voided and will no longer be processed">
    <strong> {{VoidOrders}} Void </strong>
    <span style="cursor: pointer;text-decoration:underline" class="alert-link" (click)="getSalesOrderByStatusName('Void')">Orders</span>
    <i class="fa fa-times-circle notify-icon    close" (click)="closeClick('Void')"></i>
  </div>
</div>


<div class="container">
  <ng4-loading-spinner [threshold]="2000" [zIndex]="0"> </ng4-loading-spinner>
  <!-- <h1>
    <span class="title">
      <b (click)="test()">Orders Summary</b>
    </span>
  </h1> -->
  <div class="row">
    <div class="col-md-10 orderTicketText">Orders Summary</div>
    <div *ngIf="Complete || InComplete || Void || Shipped || Processed" class="col-md-2" (click)="Dismiss()">
      <u class="booleanDetails" (click)="Dismiss()">Dismiss All</u>
    </div>
  </div>
  <mat-card class="searchbar row">
    <!-- <span class="fa fa-search faStyle"></span>
    <input class="form-control fa fa-search txtcolor" type="text" placeholder="Search" (keyup)="applyFilter($event.target.value)"> -->

    <div>
      <span class="fa fa-search faStyle"></span>
      <input class="txtcolor" type="text" placeholder="Search" #input>
    </div>

    <div class="pull-right">
      <i class="filterName">Filter by</i>
      <span>
        <mat-form-field class="locationField">
          <mat-select placeholder="Location" multiple [formControl]="filterLocation" (change)="locationFilter()">
            <mat-option *ngFor="let location of filterValue?.location" [value]="location.CompanyCode">{{location?.CompanyCode}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="ticketField">
          <mat-select placeholder="Tickets" multiple [formControl]="filterTicket" (change)="ticketFilter()">
            <mat-option *ngFor="let ticket of filterValue?.ticket" [value]="ticket.Tickets">{{ticket?.Tickets}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="statusField">
          <mat-select placeholder="Status" multiple [formControl]="filterStatus" (change)="statusFilter()">
            <mat-option *ngFor="let status of filterValue?.status" [value]="status.StatusName">{{status?.StatusName}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="statusField">
          <mat-select placeholder="StyleOption" multiple [formControl]="filterStyleOption" (change)="styleOptionFilter()">
            <mat-option *ngFor="let style of filterValue?.styleoption" [value]="style.Comments7">{{style?.Comments7}}</mat-option>
          </mat-select>
        </mat-form-field>

      </span>
    </div>
  </mat-card>
  <br>

  <div class="text-center">
    <button class="btn btn-primary" (click)="exportCSV()">
      <i class="fa fa-download" style="color: white"></i> Export CSV</button>
  </div>

  <br>
  <div>

    <mat-table [dataSource]="dataSource" matSort matSortActive="OrderDate" matSortDirection="desc" matSortDisableClear>

      <ng-container matColumnDef="OrderNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Number </mat-header-cell>
        <mat-cell style="color: blue;cursor: pointer" *matCellDef="let row"> {{row.OrderNumber}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="CompanyCode">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Location </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.CompanyCode}}
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="PONumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header> PO# </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.PONumber}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="OrderDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Order date </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span *ngIf="row.OrderDate === null">-</span>
          <span *ngIf="row.OrderDate != null"> {{row.OrderDate | date:'MM/dd/yyyy'}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Comments7">
        <mat-header-cell *matHeaderCellDef mat-sort-header> StyleOptions </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span *ngIf="row.Comments7 == null">-</span>
          <span *ngIf="row.Comments7 != null">{{row.Comments7}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="RequiredDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Requested </mat-header-cell>
        <mat-cell *matCellDef="let row" [style.color]="green">
          <span *ngIf="row.RequiredDate === null">-</span>
          <span *ngIf="row.RequiredDate != null">{{row.RequiredDate | date:'MM/dd/yyyy'}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="CustomerDueDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Forcasted </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span *ngIf="row.CustomerDueDate === null">-</span>
          <span *ngIf="row.CustomerDueDate != null">{{row.CustomerDueDate | date:'MM/dd/yyyy'}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Tickets">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Tickets </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span *ngIf="row.Tickets == null">0</span>
          <span *ngIf="row.Tickets != null ">{{row.Tickets}}</span>
        </mat-cell>
      </ng-container>



      <ng-container matColumnDef="StatusName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span *ngIf="row.StatusName !='Processed' && row.StatusName !='Released' && row.StatusName !='Complete' && row.StatusName !='Incomplete' && row.StatusName !='Void' && row.StatusName !='Shipped' && row.StatusName !='Hold' &&
          row.StatusName !='Committed' " class="badge grey">--</span>
          <span *ngIf="row.StatusName ==='Processed'" class="badge grey">{{row.StatusName}}</span>
          <span *ngIf="row.StatusName ==='New'" class="badge grey">{{row.StatusName}}</span>
          <span *ngIf="row.StatusName ==='Incomplete'" class="badge orange">{{row.StatusName}}</span>
          <span *ngIf="row.StatusName ==='Void'" class="badge orange">{{row.StatusName}}</span>
          <span *ngIf="row.StatusName ==='Complete'" class="badge green">{{row.StatusName}}</span>
          <span *ngIf="row.StatusName ==='Shipped'" class="badge light blue">{{row.StatusName}}</span>
          <span *ngIf="row.StatusName ==='Released'" class="badge light blue">{{row.StatusName}}</span>
          <span *ngIf="row.StatusName ==='Hold'" class="badge light blue">{{row.StatusName}}</span>
          <span *ngIf="row.StatusName ==='Committed'" class="badge green">{{row.StatusName}}</span>


        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row (click)="onRowSelected(row)" *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

    <div class="page-no">Page.No: {{pageNo}}</div>
    <mat-paginator #paginator [length]="dataSource?.countValue" [pageSize]="25" [pageSizeOptions]="[25, 50, 100]"
      [showFirstLastButtons]="true">
    </mat-paginator>
  </div>

</div>

<modal #ExportCSV>
  <modal-header>
    <h4>Export CSV</h4>
  </modal-header>
  <modal-body>
    <div>
      <strong>Sales Order In Between:</strong>
    </div>
    <div class="optionDiv">
      <!-- <mat-radio-group>
        <mat-radio-button (change)="radioChange($event)" style="margin-left: 6em" *ngFor="let export of exportOption" [value]="export">
          {{export}}
        </mat-radio-button>
      </mat-radio-group> -->
      <div style="display:flex; margin-top: 2em">
        <mat-form-field color="accent" appearance='outline' class="dateForm">
          <mat-label>Start Date</mat-label>
          <input matInput type="date" [(ngModel)]="dateRange.startdate">
        </mat-form-field>
        <mat-form-field style="padding-left:5em" color="accent" class="dateForm">
          <mat-label>End Date</mat-label>
          <input matInput type="date" [(ngModel)]="dateRange.enddate">
        </mat-form-field>
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <button mat-raised-button *ngIf="dateRange.startdate !=='' && dateRange.enddate !==''" color="primary" class="exportButton" (click)="exportDetails()">Export <i [hidden]="!spinnerlogo"
        class="fas fa-spin fa-spinner"></i></button>
    <!-- <button mat-raised-button class="closeModalButton" (click)="closemodel()">Close</button> -->
  </modal-footer>
</modal>