<ion-header>
    <ion-navbar class="header">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <div class="logo-container">
            <span class="header-title">STAHLS</span>
            <!-- <ion-icon class="noti-icon" name="notifications"></ion-icon> -->
        </div>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item class="filter-header">
        Filter Orders By:
    </ion-item>

    <!-- <ion-item class="item-header">
        Location
    </ion-item>
    <ion-item>
        <ion-label>Location</ion-label>
        <ion-select [(ngModel)]="selectedLocation" multiple="true">
            <ion-option *ngFor="let loc of location" [value]="loc">
                {{loc}}
            </ion-option>
        </ion-select>
    </ion-item> -->

    <ion-item class="item-header">
        PONumber
    </ion-item>
    <ion-item>
        <ion-label>PONumber</ion-label>
        <ion-select [(ngModel)]="selectedStyle" multiple="true">
            <ion-option *ngFor="let style of ponumber" [value]="style">
                {{style}}
            </ion-option>
        </ion-select>
    </ion-item>

    <!-- <ion-item class="item-header">
        Status
    </ion-item>
    <ion-item *ngFor="let st of status; let i=index;">
        <ion-label>{{st}}</ion-label>
        <ion-checkbox (click)="getValue(st)"></ion-checkbox>
    </ion-item> -->

    <ion-item class="item-header">Sort by</ion-item>
    <ion-list radio-group [(ngModel)]="selectedSortValue">
        <ion-item>
            <ion-label>Location</ion-label>
            <ion-radio value="location"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>Date</ion-label>
            <ion-radio value="date"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>Ascending Order</ion-label>
            <ion-radio value="ASC"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>Descending Order</ion-label>
            <ion-radio value="DESC"></ion-radio>
        </ion-item>
    </ion-list>

    <button ion-button class="btn-filter" outline (click)="selectedoption()">Filter and Sort </button>
</ion-content>